/*-- scss:defaults --*/

// Import font 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Create font variables  
$ubuntu: "Ubuntu", serif;

//Colors 
$darkblue: #29648B;
$lightblue: #70A2B6;
$white: #E2E7E6;
$greygreen: #C6CABA;
$darkgreen: #69705B;
$burntorange: #c98043fd;


// Base document colors  
$body-bg: $white; //background color
$navbar-bg: $darkgreen; //nav bar color 
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $burntorange; // highlight color when hovering over navbar links
$body-color: $darkblue; // page text 
$footer-bg: $greygreen; // footer 
$link-color: $lightblue; // hyperlinks 

/*-- scss:rules --*/
//text applied to headers 
h1, h2, h3, h4 {
  font-family: $ubuntu; 
}

// applys to level 1 and level 2 headers
h1, h2 { 
  letter-spacing: 4px;
  font-weight: 500; 
}
.center-text {
  text-align: center;
}

//body text 
body {
  font-family: $ubuntu;
  line-height: 1.5;
  font-size: 18.5px;
  font-weight: 375;
}

//resize logo 
.navbar-brand img {
  max-height: 70px;
  width: auto;
}

//title color 
.title {
  color: $burntorange;
}

//center bolded words 
.center-bold {
    color: #c98043fd;
    font-size: 25px; 
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

//center bolded words smaller 
.center-bold-small {
    color: #c98043fd;
    font-size: 22px; 
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}